.logo {
    height: 32px;
    margin: 4px 48px 4px 48px;
    overflow: hidden;
}

.header {
    background-color: #282c34;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    color: white;
}

.introduction {
    margin-left: 48px;
    text-align: left;
    color: #fff;
    overflow: hidden;
    font-size: 28px;
}

.subtitle {
    margin-top: 24px;
    color: #666666;
    font-size: 12px;
}
