.urlContainer {
    flex-direction: column;
    flex-grow: 1;
}

.urlTextField {
    margin-left: 16px !important;
    margin-right: 16px !important;
    width: 640px;
    max-width: 90%;
}

.addUrlButton {
    margin: 18px 16px 8px !important;
    width: 160px;
    height: 48px;
    max-width: 90%;
    overflow: hidden;
}

.checkbox {
    margin-top: 10px !important;
    overflow: hidden;
}

.urlList {
    padding: 32px;
    width: 480px;
    text-align: left;
    max-width: 90%;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
}

.urlForm {
    justify-content: center;
    align-items: center;
}